*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html , body{
    height: 100%;
    width: 100%;
    background-color: cadetblue;
}

h1{
  text-align: center;
  margin-top: 20px;
  font-size: 3rem;
}
.container{
  height: 60vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.game{
  height: 42vh;
  width: 53vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin:px;
  gap: 5px;
}
.box{
  width: 100px;
  height: 100px;
  border-radius: 10px;
  font-size: 4rem;
  padding: 10px;
  border: none;
  box-shadow: 0px 0.5px 2px black;
  background-color: #2b667a;
  color: white;
}

.resetDiv{
  display: flex;
  align-items: center;
  justify-content: center;
}
#resetBtn{
  
  height: 3rem;
  width: 10rem;
  font-size: 1.5rem;
  padding: 4px;
  background-color: black;
  color: white;
  border-radius: 10px;
}

#div-btn{
  display: flex;
  justify-content: center;
  align-items: center;
}
#new-bttn{
  height: 8vmin;
  width: 28vmin;
  margin-top: 20px;
  padding: 2px;
  font-size: 5vmin;
  background-color: black;
  color: white;
  border-radius: 1rem;
  border: none;

}

#msg{
  padding: 10px;
  background-color: rgba(224, 249, 82, 0.546);
  font-size: 3rem;
  text-align: center;

}
.msg-container{
  height: 100vmin;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.hide{
  display: none;
}



